.wrapper::-webkit-scrollbar {
    display: none;
}

.content {
  animation-name: moving-content;
  animation-duration: 22s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes moving-content {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-103%);
  }
}