.button {
    box-shadow: 
        0px 2px 4px rgba(30,113,229,0.15),
        0px 7px 7px rgba(30,113,229,0.13),
        0px 17px 10px rgba(30,113,229,0.08),
        0px 30px 12px rgba(30,113,229,0.02);
    background: linear-gradient(to top, #0F93FF, #003BB9);
    border: 2px solid linear-gradient(#00D0FF, #9CC6FF);
}

